.search {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  width: 100%;
  background-color: #1C1E2C;
  color: #fff;
}

.search-results {
  background-color: #2E3144;
}

.search-result {
  display: block;
  width: 100%;
  height: 15em;
  overflow: hidden;
  background-color: #3B3D55;
  margin-bottom: 0.1em;
  position: relative;
}

.search-result > img {
  width: inherit;
  position: absolute;
  top: -1em;
}

.search-info {
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 1em;
  color: #fff;
}

.search-info:hover {
  transition: all 0.2s ease-in;
  background-color: rgba(0, 0, 0, 0.6);
}
